<h1>Events</h1>

<ul>
<% @events.each do |event| %>
    <li><%= link_to event.name, event_path(event) %></li>
<% end %>
</ul>

<% if admin_signed_in? %>
    <%= link_to "New", new_event_path, class: "btn btn-info" %>
<% end %>

<div class="apple_pagination">
    <%= will_paginate @events %>
</div>
